@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 
Breakpoints o puntos de quiebre que vamos a utilizar cuando trabajos nuestra páginas

https://tailwindcss.com/docs/responsive-design
https://getbootstrap.com/docs/5.0/layout/breakpoints/
*/

/* 
! IDEAL 
Breakpoint  |	Dimensions

X-Small	          |	<576px
Small	            | ≥576px
Medium	          | ≥768px
Large	            |	≥992px
Extra large       |	≥1200px
Extra extra large	|	≥1400px

! REAL
Breakpoint  |	Dimensions

Small	            | ≥576px
Medium	          | ≥768px
Extra large       |	≥1200px

! Economica
Breakpoint  |	Dimensions

Small	            | ≥576px
Extra large       |	≥1200px
*/

/* Trabajamos con estos 3 breakpoints */

/* ! Small	  | ≥576px */
/* Para dispositivos pequeños (No uso media queries en el modelo mobile first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column; /* defecto -> row -> uno al lado del otro */
    height: 100vh;
}

header {
    
}

/* ! Medium	          | ≥768px
/* Para dispositivos medianos (Tablet, algunas netbook -> notebook) */

/* ! Extra large       |	≥1200px */
/* Para el resto de dispositivos (Desktop, Televisores...) */


/* https://developer.mozilla.org/es/docs/Web/CSS/CSS_media_queries/Using_media_queries */
/* 
@media screen {
    h1 {
        color: crimson;
    }
}

@media print {
    h1 {
        color: blue;
    }
}

@media (orientation: landscape) {
    h1 {
        color: green;
    }
} */